
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.star_container{

    display: flex;
    gap: 1rem;
    border:3px solid black;
    padding: 5px;

}

.star{
    font-size: 3rem;
    cursor: pointer;
}

.yellow{
    color: yellowgreen;
}