

.userList{

    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    align-items: center;
}

.userListHead{

    text-align: center;
    font-size: 3rem;
    padding:1rem;
}

.search{
    text-align: center;
}

.search input{
    width: 30%;
    padding: 8px;
    font-size: 20px;
}